* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(60deg, rgba(146, 28, 189), rgba(255, 13, 231));
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px auto;
    color: blanchedalmond;
    text-transform: uppercase;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 20px;
    padding: 0 12px;
}

.card {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-1{
    flex-direction: column;
}

h2, p {
    font-size: 1.5rem;
}